<section class="post">
  <img src="/images/{{post.filename}}" alt="{{post.description}}">
  <div class="post-details">
    <h3>{{post.title}}</h3>
    <p>By: {{post.author}}</p>
    <p>Created: {{ format_date post.created_date}}</p>
  </div>
</section>