{{#each posts}}


<form class="posts">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="./assets/logo.png" alt="Card image cap">
   <div class="card-wrap">
  <div class="card-body">

   
  <div id="post-container">
    {{!--   <h3 class="post-title">{{title}}</h3>
      <p class="post-body"> {{body}}</p>
      <p>By: {{author}}</p>
      <p>Created: {{format_date created_date}}</p> --}}
      <button type="button" id="delete-btn" class="btn btn-primary" blogpost={{id}}>Delete Post</button>
    </div>
    </div> 
  
</form>
›
  </div>

 

</div>


{{/each}}

<script src="js/homepage.js"></script>